__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
tfg/

# Variables de entorno
.env

# Archivos de sistema y editores
.vscode/
.idea/
.DS_Store
Thumbs.db

# LaTeX 
*.aux
*.log
*.lof
*.lot
*.toc
*.out
*.synctex.gz
*.fls
*.fdb_latexmk