<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>¡Gracias por tu Feedback!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <div class="contenedor">
        <h1>¡Feedback registrado!</h1>
        <p>
            Tu opinión es fundamental para validar este sistema de recomendación y mejorar la atención a pacientes con ELA.
        </p>
        <br><br>
        <a href="/" class="boton-enviar">
            Volver al Inicio
        </a>
    </div>
</body>
</html>