<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información SAAC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <nav class="nav-tabs">
    <a href="/">Inicio</a>
    <a href="/ELA">Sobre la ELA</a>
    <a href="/SAAC">¿Qué es un SAAC?</a>
    <a href="/cuestionario">Cuestionario</a>
</nav>

    <h1>¿Qué es este recomendador?</h1>
    
    <div class="seccion">
        <p>Esta es una página diseñada como Trabajo de Fin de Grado de Ingeniería de la salud. <p>
            <p>En la parte superior encontrará varias pestañas con descripciones acerca del ELA y los SAAC. Dirijase a cualquiera de ellas para más información. </p>
            </p> A su vez, puede dirigirse a la pestaña de <strong>Cuestionario</strong> los datos del usuario y obtener una recomendación personalizada sobre el SAAC que mejor se ajusta a su situación. </p>
    </div>

</body>
</html>